<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

    <title>Random Word Generator</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Random Word Generator</h1>
        </div>
    </div>
    <div class="container">
        <h3 class="mb-5">Random Word Count #{{ request.session.counter }}</h3>
        <div class="form-group row word">
            <div class="col-sm-12">
                <h1 class="border border-info border-3 rounded-top p-5">Click button to generate a random word</h1>
            </div>
        </div>
        <form action="/rand-word" method="POST" class="float-right">
            {% csrf_token %}
            <button class="btn btn-info btn-lrg mt-3 float-right">Generate</button>
        </form>
    </div>
</body>
</html>